In [1]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder

In [47]:
sk_tree = DecisionTreeClassifier(criterion='entropy',max_depth=5)

In [48]:
data = pd.read_csv('train.csv')

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1009 non-null   float64
 1   survived   1009 non-null   float64
 2   name       1009 non-null   object
 3   sex        1009 non-null   object
 4   age        812 non-null    float64
 5   sibsp      1009 non-null   float64
 6   parch      1009 non-null   float64
 7   ticket     1009 non-null   object
 8   fare       1008 non-null   float64
 9   cabin      229 non-null    object
 10  embarked   1008 non-null   object
 11  boat       374 non-null    object
 12  body       98 non-null     float64
 13  home.dest  582 non-null    object
dtypes: float64(7), object(7)
memory usage: 110.5+ KB

In [50]:
columns_to_drop = ["name","ticket","cabin","embarked","boat","body","home.dest"]

In [51]:
data.drop(columns_to_drop,axis=1,inplace=True)

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1009 non-null   float64
 1   survived  1009 non-null   float64
 2   sex       1009 non-null   object
 3   age       812 non-null    float64
 4   sibsp     1009 non-null   float64
 5   parch     1009 non-null   float64
 6   fare      1008 non-null   float64
dtypes: float64(6), object(1)
memory usage: 55.3+ KB

In [53]:
le = LabelEncoder()
data['sex'] = le.fit_transform(data['sex'])

In [54]:
data.fillna(data['age'].mean(),inplace=True)

In [55]:
data.head()

   pclass  survived  sex        age  sibsp  parch    fare
0     3.0       0.0    0  29.838978    0.0    0.0   7.750
1     2.0       0.0    1  39.000000    0.0    0.0  26.000
2     2.0       1.0    0  40.000000    0.0    0.0  13.000
3     3.0       1.0    0  31.000000    1.0    1.0  20.525
4     3.0       1.0    0  29.838978    2.0    0.0  23.250

In [56]:
output_col = ['survived']
input_col = ['pclass','sex','age','sibsp','parch','fare']

In [57]:
test_data = pd.read_csv('Test.csv')

In [58]:
test_data.drop(columns_to_drop,axis=1,inplace=True)
le = LabelEncoder()
test_data['sex'] = le.fit_transform(test_data['sex'])
test_data.fillna(test_data['age'].mean(),inplace=True)

In [59]:
test_data.head()

   pclass  sex        age  sibsp  parch     fare
0     1.0    1  36.000000    0.0    0.0  26.3875
1     3.0    0  30.027422    8.0    2.0  69.5500
2     1.0    1  30.027422    0.0    0.0  50.0000
3     2.0    1  34.000000    0.0    0.0  13.0000
4     2.0    1  28.000000    0.0    0.0  13.0000

In [60]:
sk_tree.fit(data[input_col],data[output_col])

DecisionTreeClassifier(criterion='entropy', max_depth=5)

In [61]:
pred = sk_tree.predict(test_data[input_col])

In [62]:
output = pd.DataFrame(pred)

In [63]:
output.columns = ['survived']

In [64]:
output.to_csv('Output.csv',index=True,index_label=['Id'])

In [46]:
from sklearn.ensemble import RandomForestClassifier

In [66]:
rf = RandomForestClassifier(n_estimators=21,criterion='entropy',max_depth=5)

In [67]:
rf.fit(data[input_col],data[output_col])

<ipython-input-67-61e1dcec8553>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(data[input_col],data[output_col])

RandomForestClassifier(criterion='entropy', max_depth=5, n_estimators=21)

In [68]:
pred = rf.predict(test_data[input_col])

In [69]:
outputFromRandomForest = pd.DataFrame(pred)

In [70]:
outputFromRandomForest.columns = ['survived']

In [71]:
outputFromRandomForest.to_csv('outputFromRandomForest.csv',index=True,index_label=['Id'])